fastapi
uvicorn[standard]
sqlmodel        
aiomysql        
aioredis      
aiokafka     
alembic
pymysql
cryptography
python-dotenv
pydantic
pydantic-settings
redis
python-jose
pydantic[email]
passlib==1.7.4
bcrypt==3.2.2
pyotp==2.9.0
qrcode[pil]==7.4.2