fastapi
uvicorn[standard]
sqlmodel
asyncpg
redis[asyncio]
elasticsearch[asyncio]==8.11.0
aiohttp
python-dotenv
pydantic
pydantic-settings
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
langchain>=0.2.0,<0.3.0
langchain-openai>=0.1.0,<0.2.0
fakeredis[aioredis]
pytest
pytest-asyncio
django>=4.2
psycopg2-binary
Pillow
djangorestframework
djangorestframework-simplejwt
django-axes
